.curved-loop-jacket {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  aspect-ratio: 100 / 12;
  overflow: visible;
  display: block;
  font-size: 6rem;
  fill: currentColor;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

@media (max-width: 768px) {
  .curved-loop-svg {
    font-size: 4rem;
  }
}

@media (max-width: 480px) {
  .curved-loop-svg {
    font-size: 3rem;
  }
}
